* {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}

body {
background-color: #292929;
font-family: 'calibri';
}
header {
    background-color: #03A9F4;
    width: 100%;
    clear: both;
    content: '';
    display: table;

}
.menu {
    width: 900px;
    margin: 0 auto;
}
img {
    width: 200px;
    height: 80px;
    float: left;
    padding: 12px;

}
nav { 
    float: right;
}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float:left;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    
}
